---
layout: default
title: Archive
---

<section id="archive">
  <h2>This year's posts</h2>
	{% for post in site.posts %}
	  {% unless post.next %}
		  <table class="this">
			  {% else %}
			  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			  {% if year != nyear %}
		  </table>
			<a style="font-size: 2.0rem; float: right;" href="#Top">&#x1F51D;</a>
		  <h2>{{ post.date | date: '%Y' }}</h2>
		  <table class="past">
		  {% endif %}
	  {% endunless %}
		<tr>
			<td width="20%" style="padding: 6px; border-top: 0;"><time>{{ post.date | date:"%d %b" }}</time></td>
			<td style="padding: 6px; border-top: 0;"><a href="{{ post.url }}">{{ post.title }}</a></td>
		</tr>
	{% endfor %}
  </table>
  <a style="font-size: 2.0rem; float: right;" href="#Top">&#x1F51D;</a>
</section>