{{ define "content" -}}

<link rel="stylesheet" href="/css/app_links.css">

<h2 class="app_header">Mac Apps:</h2>

{{ range .Site.Data.mac_apps}}

    <img src="/icons/{{ .icon }}" alt="{{ .name }}">
    <a class="app_name" href="{{ .webpage }}">{{ .name }}</a>
    <p>Version {{ .version }}, Updated: {{ .updated }}</p>
    <p>
        {{ if .app_id }}
            <a target="itunes_store" class="mac_app_button" href="https://itunes.apple.com/app/apple-store/id{{ .app_id }}"
            ></a>
        {{ else if .download }}
            <a href="{{ .download }}">Download</a>
        {{ end }}
    </p>
    <hr>
{{ end }}

<hr>

<h2 class="app_header">iOS Apps:</h2>

{{ range .Site.Data.ios_apps}}

    <img src="/icons/{{ .icon }}" alt="{{ .name }}">
    <a class="app_name" href="{{ .webpage }}">{{ .name }}</a>
    <p>Version {{ .version }}, Updated: {{ .updated }}</p>
    <p>
        {{ if .app_id }}
            <a target="itunes_store" class="ios_app_button" href="https://itunes.apple.com/app/apple-store/id{{ .app_id }}"
            ></a>
        {{ end }}
    </p>
    <hr>
{{ end }}

{{- end }}
