.footer__inner {
  text-align: center;
  justify-content: center;
}

.footer .copyright {
  flex-direction: column !important;
}

.social_footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row !important;
  margin: 0 auto;
}

.social_footer img {
  width: 30px !important;
  height: 30px;
  margin: 0 20px 20px 0;
}
