.app_header {
  text-decoration: underline;
}

img {
  padding-right: 10px;
}

.app_name {
  font-weight: bold;
  font-size: 1.2rem;
}

.mac_app_button {
  display: inline-block;
  overflow: hidden;
  background: url(../icons/Mac_App_Store_Badge_white.svg)
    no-repeat;
  width: 165px;
  height: 40px;
  background-size: contain;
}

.ios_app_button {
  display: inline-block;
  overflow: hidden;
  background: url(../icons/App_Store_Badge_white.svg)
    no-repeat;
  width: 135px;
  height: 40px;
  background-size: contain;
}

@media (prefers-color-scheme: dark) {
  .mac_app_button {
    background: url(../icons/Mac_App_Store_Badge.svg)
      no-repeat;
  }
  
  .ios_app_button {
    background: url(../icons/App_Store_Badge.svg)
      no-repeat;
  }
}